<div class="container">
	<div class="jumbotron">
	  <h2 align="center">Drug Swipe / FIT Admin</h2> 
	   
	   <div align="center" ng-show="userReady">
	   	<br>
	  	<a ng-href="#/adminList"><button type="button" class="btn btn-primary homebutton">View All Submissions</button></a>
	  	<a ng-href="#/adminEditor"><button type="button" class="btn btn-primary homebutton">Add Administrator</button></a>
	  	<br><br>
	  	<a ng-href="#/statsReport"><button type="button" class="btn btn-info homebutton">Create Stats Report</button></a>
		<a ng-href="#/excelExport"><button type="button" class="btn btn-info homebutton">Create Excel Export</button></a>
	  </div>
	   
	</div>
</div>	