<div class="form-horizontal formDiv">	

	<ng-form name="testsForm">

		<div class="form-group" ng-class="{ 'has-error' : testsForm.testLocation.$invalid }">
	      <div class="row">
	    	<label for="testLocation" class="col-md-2 control-label">Performed At</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="testLocation" ng-model='ddData.WWM_TEST_LOCATION' 
	                 ng-options="c.id as c.label for c in testLocation" ng-required="true"></select>
	         <p ng-show="testsForm.testLocation.$invalid" class="help-block">Select where test was performed.</p>		
	        </div>
	      </div>
	    </div>
	    
	    <span name="roadsideDiv" ng-show="ddData.WWM_TEST_LOCATION==='Roadside'">
	    
	     <div class="form-group" ng-class="{ 'has-error' : testsForm.fitTest.$invalid }">
	      <div class="row">
	    	<label for="fitTest" class="col-md-2 control-label">FIT Test?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="fitTest" ng-model='ddData.ROADSIDE_FIT_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.fitTest.$invalid" class="help-block">Select if FIT Test was performed.</p>		
	        </div>
	       </div>
	     </div>
	     
	     <span id="fitResulDiv" ng-show="ddData.ROADSIDE_FIT_DONE==='Y'">
	      <div class="form-group" ng-class="{ 'has-error' : testsForm.fitResult.$invalid }">
	      <div class="row">
	    	<label for="fitResult" class="col-md-2 control-label">FIT Result</label>
	        <div class="col-md-6">
	        	<label class="checkbox-inline">
	        	<input type="checkbox" ng-model="ddData.ROADSIDE_FIT_OK"
	        	       ng-true-value="Y" ng-false-value="N" /> Performed OK
	        	</label>
	        	<label class="checkbox-inline">
	        	<input type="checkbox"  ng-model="ddData.ROADSIDE_FIT_POOR"
	        	       ng-true-value="Y" ng-false-value="N" /> Performed Poorly
	        	</label>       		
	        </div>
	       </div>
	      </div>
	     </span>
	     
	     <div class="form-group" ng-class="{ 'has-error' : testsForm.breathTest.$invalid }">
	      <div class="row">
	    	<label for="breathTest" class="col-md-2 control-label">Breath Test?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="breathTest" ng-model='ddData.ROADSIDE_BREATH_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.breathTest.$invalid" class="help-block">Select if Breath Test was performed.</p>		
	        </div>
	       </div>
	     </div>
	     
	     <div class="form-group" ng-class="{ 'has-error' : testsForm.drugTest.$invalid }">
	      <div class="row">
	    	<label for="drugTest" class="col-md-2 control-label">Drug Swipe?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="drugTest" ng-model='ddData.ROADSIDE_SALIVA_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.drugTest.$invalid" class="help-block">Select if Drug Swipe was performed.</p>		
	        </div>
	       </div>
	     </div>
	    	
	    </span>
	    
	    <span name="stationDiv" ng-show="ddData.WWM_TEST_LOCATION==='Station'">

		 <div class="form-group" ng-class="{ 'has-error' : testsForm.stBreathTest.$invalid }">
	      <div class="row">
	    	<label for="stBreathTest" class="col-md-2 control-label">Breath Test?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="stBreathTest" ng-model='ddData.STATION_BREATH_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.stBreathTest.$invalid" class="help-block">Select if Breath Test was performed.</p>		
	        </div>
	       </div>
	     </div>
	     
	     <div class="form-group" ng-class="{ 'has-error' : testsForm.stDrugTest.$invalid }">
	      <div class="row">
	    	<label for="stDrugTest" class="col-md-2 control-label">Drug Swipe?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="stDrugTest" ng-model='ddData.STATION_SALIVA_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.stDrugTest.$invalid" class="help-block">Select if Drug Swipe was performed.</p>		
	        </div>
	       </div>
	     </div>
	    	
	    </span>
	    
	    <span name="hospitalDiv" ng-show="ddData.WWM_TEST_LOCATION==='Hospital'">
	     
	     <div class="form-group" ng-class="{ 'has-error' : testsForm.hospDrugTest.$invalid }">
	      <div class="row">
	    	<label for="hospDrugTest" class="col-md-2 control-label">Drug Swipe?</label>
	        <div class="col-md-6">
	         <select class="form-control mandatory" name="hospDrugTest" ng-model='ddData.WWM_HOSPITAL_SALIVA_DONE' 
	                 ng-options="c.id as c.label for c in selectYN" ng-required="true"></select>
	         <p ng-show="testsForm.hospDrugTest.$invalid" class="help-block">Select if Drug Swipe was performed.</p>		
	        </div>
	       </div>
	     </div>
	    	
	    </span>
  	  						 
   </ng-form>
</div>