<div class="container" ng-init="initForm()">
      <!-- Form valid = {{ ddForm.$valid }}<br>
	  pristine = {{ ddForm.$pristine}}<br>
	  dirty = {{ ddFrom.$dirty }} -->
	  <!-- {{ ddForm | json }} -->  	 
	  	  
	  <uib-alert type="danger" 
	             ng-show="!ddForm.$valid || ddForm.$pristine">
	      Please complete the information in the tabs below. Mandatory fields are marked with a * and are in yellow.
	  </uib-alert>
	  <uib-alert type="success" 
	             ng-show="ddForm.$valid && ddForm.$dirty">
	      Your Submission is Valid! Click `Submit Drug/Fit Test` in the Additional tab to finalise and get your URN.
	  </uib-alert>
	  
  	  <form novalidate ng-submit='submitDD()' name="ddForm">
  	  	
  	  	<div ng-controller="DrugDriveTabController">
  	  	<uib-tabset>
  	  		<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-bind-html-unsafe="tab.content">
		     <div ng-include='tab.content'></div>
		    </uib-tab>
  	  	</uib-tabset>	
  	  	</div>
  	  
  	  	<!--
  	  	
  	  	<br><br>
  	  	<hr>
  	  	<input type="text" ng-model='ddData.WWM_OFFICER_COLLAR'>
  	  	<input type="text" ng-model='ddData.WWM_OFFICER_FORCE'>
  	  	
  	  	<input type="submit"
  	  	       value="Submit Drug Drive / FIT Record" />
  	  	-->
  	  </form>
	  
  	  <span ng-show="userId==='n_bla003'"> 	  
	  	  <br><br><br>
	  	  <div style="border:1px solid black; padding:10px;">
	  	  	{{ ddData | json }}
	  	  </div>
	  </span>
</div>