<div class="form-horizontal formDiv">	
	<ng-form name="locationForm">
	
	<div class="form-group" ng-class="{ 'has-error' : locationForm.testDate.$invalid }">
      <div class="row">
    	<label for="dateInitial" class="col-md-2 control-label">Date *</label>
        <div class="col-md-6">
          <input type="text" id="dateInitial" ng-model="ddData.DATE_INITIAL_STOP_PICKER" name="testDate"
	             class="form-control mandatory  input-sm" uib-datepicker-popup="dd/MM/yyyy" 
	             is-open="calStatus.opened" ng-click="calStatus.opened=true" ng-required="true"/>
         <p ng-show="locationForm.testDate.$invalid" class="help-block">Invalid Date (Valid format is DD/MM/YYYY)</p>		
        </div>
      </div>
    </div>
	
	<div class="form-group" ng-class="{ 'has-error' : locationForm.testTime.$invalid }">
      <div class="row">    
	  <label for="dateInitial" class="col-md-2 control-label">Time *</label>	
        <div class="col-md-6">
          <input ng-model="ddData.TIME_INITIAL_STOP" type="text" placeholder="HH:mm"
                	       ng-required="true" class="form-control mandatory  input-sm" ng-maxlength="5" ng-minlength="5"
                	       ng-pattern='/[0-2][0-9]:[0-5][0-9]/' name="testTime">
         <p ng-show="locationForm.testTime.$invalid" class="help-block">Invalid Time (Valid format is HH:mm)</p>		
        </div>
      </div>
    </div>
	
	<div class="form-group">
      <div class="row">    	
	    <div class="col-md-2"></div> 
        <div class="col-md-6">
        	<span ng-show="!officerLocationSearchRunning">
        		<button ng-click='getOfficerLocation()' type="button">Get My Location</button>
			</span>			
			<span ng-show="officerLocationSearchRunning">
				<img src="images/spinner.gif"> Finding your location
			</span>
		</div>
	  </div>
	</div>
	
    <span ng-show="officerLocationSearchRan">
    	
    <uib-alert type="danger" ng-show="noLocationFound">Your location could not be found please select Force and Local Policing Area below</uib-alert> 	
    
    <div class="form-group" ng-class="{ 'has-error' : locationForm.testForce.$invalid }">
      <div class="row">
    	<label for="testForce" class="col-md-2 control-label">Force *</label>
        <div class="col-md-6">
         <select class="form-control mandatory  input-sm" name="testForce" ng-model='ddData.WWM_TEST_FORCE' ng-options="c.id as c.label for c in forceSelect" ng-required="true"></select>
         <p ng-show="locationForm.testForce.$invalid" class="help-block">Please select a Force.</p>		
        </div>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : locationForm.testLPA.$invalid }">
      <div class="row">
    	<label for="testForce" class="col-md-2 control-label">Local Policing<br>Area *</label>
        <div class="col-md-6">
         <select class="form-control mandatory  input-sm" name="testLPA" ng-model='ddData.WWM_TEST_LPA' ng-options="c.id as c.label for c in lpaSelect" ng-required="true"></select>
         <p ng-show="locationForm.testLPA.$invalid" class="help-block">Please select a Local Policing Area.</p>	
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
    	<label for="beatCode" class="col-md-2 control-label">Beat Code</label>
        <div class="col-md-6">
         	<input type="text" id="beatCode" ng-model="ddData.WWM_TEST_BEAT" class="form-control  input-sm" placeholder="Optional, complete if known"  />
        </div>
      </div>
    </div>
	
	<div class="form-group" ng-class="{ 'has-error' : locationForm.wwmReason.$invalid }">
      <div class="row">
    	<label for="rtc" class="col-md-2 control-label">Reason for<br>Drug/FIT? *</label>
        <div class="col-md-6">
         	<select class="form-control mandatory  input-sm" name="wwmReason" ng-model='ddData.WWM_TEST_REASON' 
	                 ng-options="c.id as c.label for c in wwmReason" ng-required="true"></select>
	         <p ng-show="locationForm.wwmReason.$invalid" class="help-block">Select reason test(s) were performed.</p>
        </div>
      </div>
    </div>

	</span>
	
	<div align="center">
		<button ng-click='submitDD();nextTab(0)' class="btn btn-success" type="button" ng-show="locationForm.$valid" >Goto Next Tab</button>
	</div>
	
	</ng-form>
</div>