<div class="form-horizontal formDiv">	
	<ng-form name="locationForm">
	
	 <div class="form-group">
        <label for="dateInitial" class="col-md-2 control-label">Date / Time</label>
        <div class="col-md-6">
            <div class="form-group row"  ng-class="{ 'has-error' : locationForm.testDate.$invalid }">                
                <div class="col-md-3">
                    <input type="text" id="dateInitial" ng-model="ddData.DATE_INITIAL_STOP_PICKER" name="testDate"
					       class="form-control mandatory  input-sm" uib-datepicker-popup="dd/MM/yyyy" 
					       is-open="calStatus.opened" ng-click="calStatus.opened=true" ng-required="true"
					        />
                </div>
                 <p ng-show="locationForm.testDate.$invalid" class="help-block">Invalid Date (Valid format is DD/MM/YYYY)</p>
             </div>
             <div class="form-group row" ng-class="{ 'has-error' : locationForm.testTime.$invalid }">   
                <div class="col-md-2">
                	<input ng-model="ddData.TIME_INITIAL_STOP" type="text" placeholder="HH:mm"
                	       ng-required="true" class="form-control mandatory  input-sm" ng-maxlength="5" ng-minlength="5"
                	       ng-pattern='/[0-2][0-9]:[0-5][0-9]/' name="testTime">                	
                </div>
                <p ng-show="locationForm.testTime.$invalid" class="help-block">Invalid Time (Valid format is HH:mm)</p>
            </div>
            <div class="form-group row">    
                <div class="col-md-8">
                	<button ng-click='getOfficerLocation()' type="button">Get My Location</button>
                </div>
            </div>
        </div>
    </div>	
    
    <span ng-show="officerLocationSearchRan">
    	
    <uib-alert type="danger" ng-show="ddData.WWM_TEST_FORCE.length==0">Your location could not be found please select Force and Local Policing Area below</uib-alert> 	
    
    <div class="form-group" ng-class="{ 'has-error' : locationForm.testForce.$invalid }">
      <div class="row">
    	<label for="testForce" class="col-md-2 control-label">Force</label>
        <div class="col-md-6">
         <select class="form-control mandatory  input-sm" name="testForce" ng-model='ddData.WWM_TEST_FORCE' ng-options="c.id as c.label for c in forceSelect" ng-required="true"></select>
         <p ng-show="locationForm.testForce.$invalid" class="help-block">Please select a Force.</p>		
        </div>
      </div>
    </div>
    
    <div class="form-group" ng-class="{ 'has-error' : locationForm.testLPA.$invalid }">
      <div class="row">
    	<label for="testForce" class="col-md-2 control-label">Local Policing<br>Area</label>
        <div class="col-md-6">
         <select class="form-control mandatory  input-sm" name="testLPA" ng-model='ddData.WWM_TEST_LPA' ng-options="c.id as c.label for c in lpaSelect" ng-required="true"></select>
         <p ng-show="locationForm.testLPA.$invalid" class="help-block">Please select a Local Policing Area.</p>	
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
    	<label for="beatCode" class="col-md-2 control-label">Beat Codezzzzz</label>
        <div class="col-md-6">
         	<input type="text" id="beatCode" ng-model="ddData.WWM_TEST_BEAT" class="form-control  input-sm" placeholder="Optional, complete if known"  />
        </div>
      </div>
    </div>
	
	<div class="form-group" ng-class="{ 'has-error' : locationForm.wwmReason.$invalid }">
      <div class="row">
    	<label for="rtc" class="col-md-2 control-label">Reason for<br>Drug/FIT?</label>
        <div class="col-md-6">
         	<select class="form-control mandatory  input-sm" name="wwmReason" ng-model='ddData.WWM_TEST_REASON' 
	                 ng-options="c.id as c.label for c in wwmReason" ng-required="true"></select>
	         <p ng-show="locationForm.wwmReason.$invalid" class="help-block">Select reason test(s) were performed.</p>
        </div>
      </div>
    </div>

	</span>
	
	<div align="center">
		<button ng-click='finaliseDD();' class="btn btn-success" type="button" ng-show="locationForm.$valid" >Goto Tests Performed</button>
	</div>
	
	<!-- nextTab(0) -->
	
	<!--	
	<div class="row">	
		<label for="dateIntial" class="col-sm-2 control-label">Date / Time</label> 
		<div class="col-xs-3 form-inline">
			<input type="text" id="dateInitial" ng-model="ddData.DATE_INITIAL_STOP" 
			       class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="calStatus.opened" ng-required="true" />
			<span class="input-group-btn">
			<button type="button" class="btn btn-default" ng-click="openCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
		<div class="col-xs-3">
		<uib-timepicker ng-model="ddData.TIME_INITIAL_STOP" show-meridian="false"></uib-timpicker>
		</div>
	</div>
	<div class="row">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-8" style="border:1px solid black;">
			<button ng-click='getOfficerLocation()' type="button">Get My Location</button>
		</div>
	</div>
	
	<div class="row">
  <div class="col-xs-2">
    <input type="text" class="form-control" placeholder=".col-xs-2">
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder=".col-xs-3">
  </div>
  <div class="col-xs-4">
    <input type="text" class="form-control" placeholder=".col-xs-4">
  </div>
</div>
		
		<br><br><br> 	  	  
		
		Location Data:
		Force: <input type="text" ng-model="ddData.WWM_TEST_FORCE" required /><br>
		LPA: <input type="text" ng-model="ddData.WWM_TEST_LPA" required /><br>
		Beat Code: <input type="text" ng-model="ddData.WWM_TEST_BEAT" /><br>
		Grid Ref: {{ ddData.WWM_TEST_GRIDREF }}
		<br><br>
		{{ locationForm.$valid }}
		<button ng-click='submitDD();nextTab(0)' type="button" >Goto Tests Performed</button>
	-->
	</ng-form>
</div>