<div class="container" ng-init="initList()">

  <uib-alert type="info" 
	             ng-show="!listReady">
	 <b>Initialising Please Wait ....</b>
  </uib-alert>

  <span ng-show="listReady">
  <h4 align="center">All Completed Submissions</h4>
  
    <div class="pull-right">
	  <div class="form-horizontal">
	   <!---
	   <div class="form-group">		
		<div class="row">				
		    <label for="currentOption" class="col-md-2">Sort  :</label>
			<div class="col-md-6">
				<select ng-model='currentOption' ng-options="c.label for c in orderOptions track by c.id"  name="currentOption" class="form-control input-sm"></select>
			</div> 				  
		</div>
	   </div>
	   --->
	   <div class="form-group">
		<div class="row">
			<label for="searchText" class="col-md-2">Filter :</label>
			<div class="col-md-6">
				<input type="text" name="searchText" size="55" class="form-control input-sm" ng-model="searchText" placeholder="type to filter eg. Name, Urn, Crime, OIS etc..">
			</div>			
		</div>				 
	  </div>
	 </div>
	</div>
	
	<div>		
		{{ (adminListArray | filter:searchText ).length }} Results | Page {{ currentPage }}<br>		
	</div>
	
	<table class="table table-striped">
		<thead>			
			<th width="8%">URN</th>
			<th>Test Date</th>			
			<th>Location</th>
			<th>Reason</th>
			<th width="10%">FIT</th>			
			<th width="15%">Drug</th>
			<th width="20%">Arrest</th>							
		</thead>
		<tbody>
			<!-- submission in ( submissionListArray | filter:searchText | orderBy:'COURT_TIMESTAMP' )  --> 
		  <tr ng-repeat="submission in adminListArray | filter:searchText | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">			
			<td>{{ submission.SHORT_URN }}</td>
			<td>{{ submission.DATE_INITIAL_STOP_TSTAMP | date:'dd/MM/yyyy' }}<br>{{ submission.TIME_INITIAL_STOP }}</td>			
			<td>{{ submission.WWM_TEST_LOCATION }}</td>
			<td>{{ submission.WWM_TEST_REASON }}<br>{{ submission.WWM_OFFICER_NAME }}</td>			
			<td>{{ submission.ROADSIDE_FIT_DONE }}
			    <span ng-show="submission.ROADSIDE_FIT_DONE==='Y'">
			    	- {{ submission.ROADSIDE_FIT_RESULT }}
			    </span>			
			</td>
			<td>{{ submission.DRUG_DONE }}
			    <span ng-show="submission.DRUG_DONE==='Y'">
			    	- {{ submission.DRUG_RESULT }}
			    </span>
				<span ng-show="submission.DRUG_RESULT==='Positive'">
				<br>
				   {{ submission.DRUG_DETECTED }}	
				</span>
			</td>
			<td>{{ submission.ARRESTED }}
			    <span ng-show="submission.ARRESTED==='Y'">
			    {{ submission.CUSTODY_REF}} <br> {{ submission.WWM_NOMINAL_NAME }}	
				</span>
			</td>					
		  </tr>
		</tbody>
		<tfoot>
		  <tr>
		  	<td colspan="10" align="right">
				<uib-pagination total-items="( adminListArray | filter:searchText ).length" ng-model="currentPage" class="pagination-sm" max-size="10" items-per-page="pageSize"></uib-pagination>	  		
		  	</td>
		  </tr>
		</tfoot>	
	</table>
  
  
  </span>
  	  

</div>