<!doctype html>
<html ng-app='drugDrive'>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=11" /> 
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
	
    <script src="/libraries/angular.min.js"></script>
    <script src="/libraries/ui-bootstrap-tpls-0.14.3.min.js"></script>    
	
	<script src="app/usefulFunctions.js"></script>
	<script src="app/app.js"></script>
	<script src="app/components/drugDriveController.js"></script>
	<script src="app/components/tabController.js"></script>	
	<script src="app/components/custodyController.js"></script>	
	<script src="app/components/custodyService.js"></script>
	<script src="app/components/custodyListDirective.js"></script>
	<script src="app/components/officerLocationService.js"></script>
	<script src="app/components/drugDriveService.js"></script>	
		
	<link href="/libraries/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
	<link href="css/drugDrive.css" rel="stylesheet">		
	
  </head>
  <body>

  	<div class="mainDiv container" ng-controller="drugDriveController as ddCtrl">
  	  <h2 align="center">
  	  	{{ applicationTitle }}
  	  </h2>
  	  
  	 
  	  
  	  <form novalidate ng-submit='submitDD()' name="ddForm">
  	  	
  	  	<div ng-controller="TabController">
  	  	<uib-tabset>
  	  		<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled" ng-bind-html-unsafe="tab.content">
		     <div ng-include='tab.content'></div>
		    </uib-tab>
  	  	</uib-tabset>	
  	  	</div>
  	  	
  	  	
  	  	
  	  	<br><br>
  	  	<hr>
  	  	<input type="text" ng-model='ddData.WWM_OFFICER_COLLAR'>
  	  	<input type="text" ng-model='ddData.WWM_OFFICER_FORCE'>
  	  	
  	  	<input type="submit"
  	  	       value="Submit Drug Drive / FIT Record" />
  	  	
  	  </form>
  	  
  	  <!--
  	  <div custody-list-directive></div>
  	  -->
  	  
  	  <br><br><br>
  	  <div style="border:1px solid black; padding:10px;">
  	  	{{ ddData | json }}
  	  	
  	  	{{ ddData.DATE_INITIAL_STOP.getDate() }}
		
		{{ CUSTODY_DATA | json }}
  	  	
  	  </div>
  	  
  	</div>
  	
  </body>
</html>  