<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Drug Drive Export Excel</h3>
  </div>
  <div class="panel-body">
    
    <div class="form-horizontal formDiv">	
	<form name="statsForm">

		<div class="form-group" ng-class="{ 'has-error' : statsForm.startDate.$invalid }">
	      <div class="row">
	    	<label for="startDate" class="col-md-2 control-label">Start Date *</label>
	        <div class="col-md-6">
	          <input type="text" id="startDate" ng-model="startDate" name="startDate"
		             class="form-control mandatory  input-sm" uib-datepicker-popup="dd/MM/yyyy" 
		             is-open="calStatusStart.opened" ng-click="calStatusStart.opened=true" ng-required="true"/>
	         <p ng-show="statsForm.startDate.$invalid" class="help-block">Invalid Date (Valid format is DD/MM/YYYY)</p>		
	        </div>
	      </div>
	    </div>
	    
		<div class="form-group" ng-class="{ 'has-error' : statsForm.endDate.$invalid }">
	      <div class="row">
	    	<label for="endDate" class="col-md-2 control-label">End Date *</label>
	        <div class="col-md-6">
	          <input type="text" id="endDate" ng-model="endDate" name="endDate"
		             class="form-control mandatory  input-sm" uib-datepicker-popup="dd/MM/yyyy" 
		             is-open="calStatusEnd.opened" ng-click="calStatusEnd.opened=true" ng-required="true"/>
	         <p ng-show="statsForm.endDate.$invalid" class="help-block">Invalid Date (Valid format is DD/MM/YYYY)</p>		
	        </div>
	      </div>
	    </div>	  
	    
	    <div align="center">
			<button ng-click='createReport();' class="btn btn-success" type="button" ng-show="statsForm.$valid" >Create Report</button>
		</div>  

	</form>
	</div>
    
  </div>
</div>
</div>
